@page
@model IndexModel
@{
    ViewData["Title"] = "Database";
}

<div class="page-header">
    <h1 class="header-text">Zirk Web UI</h1>
        <h4 class="header-text-2">This is the web interface for the Zirk data webserver application.</h4>
        <p class="header-text-2">It allows for addition and deletion of data from an SQL database, with the changes being reflected in realtime.</p>
</div>
<div>
    <h2>Current Data Set</h2>
    <div class="well table-area">
        <table class="table table-hover data-table-style">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Data Type</th>
                    <th>Data</th>
                    <th>Added/Modified</th>
                    <th width=52px> </th>
                    <th width=52px> </th>
                </tr>
            </thead>
            <tbody id="updatable_table" data-url="@Url.Action("DataTable")">
                @foreach (var item in Model.Datum)
                {
                    <tr>
                        <td>@Html.DisplayFor(Model => item.id)</td>
                        <td>@Html.DisplayFor(Model => item.datatype)</td>
                        <td id="@item.id">@Html.DisplayFor(Model => item.value)</td>
                        <td>
                            @Html.DisplayFor(Model => item.editdate) @if (item.edits > 0)
                        {<span class="badge">@item.edits edits</span>}
                        </td>
                        <td><button id="edit-btn" name="edit-btn" onclick="EditData(@item.id)" class="btn" ><span class="glyphicon glyphicon glyphicon-edit"></span></button></td>
                        <td><form method="post"><input name="id" value="@item.id" hidden><input name="op" value="delete" hidden><button id="del-btn" name="del-btn" type="submit" class="btn btn-danger" asp-action="DeleteData" asp-route-id="@item.id"><span class="glyphicon glyphicon glyphicon-trash"></span></button></form></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div>
    <a id="entry_zone"></a>
    <h2>Submit/Modify Data</h2>
    <form method="post" class="table-horizontal">
        <div class="form-group">
            <div class="input-group col-sm-3">
                <span class="input-group-addon">ID</span>
                <input type="text" class="form-control has-default" name="new_ID" id="new_ID" min="1" value="New Data">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">Data</span>
                <input class="form-control input-lg has-default" name="data_contents" id="data_contents" value="Input your data here!" required>
            </div>
        </div>
        <button id="submit-button" type="submit" class="btn btn-default">Submit</button>
    </form>
    <p id="validation_error" style="font-style: italic; color: #a01010"></p>
</div>
<p id="DEBUG_TEXT">@Model.debugText</p>

<script>
    addEvent(window, 'load', UpdateTable, false);
    window.setInterval(UpdateTable, 1000);

    function EditData(data_id) {
        var id = document.getElementById("new_ID");
        var datatype = document.getElementById("data_type");
        var contents = document.getElementById("data_contents");

        id.value = data_id;
        contents.value = document.getElementById(data_id).innerText;
    }

    function UpdateTable() {
        $.ajax({
            url: "/?op=DataTable",
            type: "GET",
        }).done(function (res) {
            var resHTML = res.toString();
            resHTML = resHTML.substring(resHTML.indexOf("<tbody id="), resHTML.indexOf("</tbody"));
            document.getElementById("updatable_table").innerHTML = resHTML;
        });
    }
</script>
